/* ====== home =====

1. carousel
2. about
3. video
4. course finder
5. counter area

===================== */

/*=== 1. carousel ===*/
.carousel {
  position: relative;
}

.carousel .slides {
  position: relative;
  z-index: 99;
}

.carousel .slides li {
  position: relative;
}

.flex-direction-nav {
  width: 100%;
  float: left;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0;
}

.flex-direction-nav a {
  position: absolute;
  height: 100%;
  text-indent: -9999px;
  width: 36px;
  z-index: 9999;
  height: 48px;
  margin-top: -24px;
  top: 50%;
  text-indent: -9999px;
  z-index: 9999;
}

.carousel .flex-direction-nav a.flex-prev {
  background: transparent url("../img/home/slider/prev.png") no-repeat scroll left center;
  left: 0;
  position: absolute;
}

.carousel .flex-direction-nav a.flex-next {
  position: absolute;
  background: url(../img/home/slider/next.png) no-repeat left center;
  right: 0;
}

.carousel_caption {
  width: 100%;
  float: left;
  height: auto;
  position: absolute;
  opacity: 0;
  z-index: 9999;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 767px) {
  .carousel_caption {
    display: none;
  }
}

@media (min-width: 768px) {
  .carousel_caption {
    padding: 35px;
    bottom: 13px;
  }
}

@media (min-width: 992px) {
  .carousel_caption {
    padding-left: 30px;
    bottom: 12px;
  }
}

.item.active .carousel_caption {
  opacity: 1;
}

#carousel .control {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  z-index: 999;
}

#carousel:hover .control {
  display: block;
}

#carousel .control.left {
  left: 0;
}

#carousel .control.right {
  right: 0;
}

.caption_inner {
  width: 595px;
  padding: 25px;
  background: rgba(0, 0, 0, 0.74);
  position: relative;
  z-index: 9999;
}

.caption_inner h1 {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.caption_inner p {
  color: #ffffff;
}

.caption_inner a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: #fffffe !important;
  background: #e63946;
  cursor: pointer;
}

@media (min-width: 768px) {
  .caption_inner {
    padding: 20px;
  }
  .caption_inner h1 {
    font-size: 20px;
    margin: 0 0 10px;
  }
  .caption_inner p {
    line-height: 21px;
    margin: 0 0 15px;
  }
  .caption_inner a {
    padding: 8px 25px;
  }
}

@media (min-width: 992px) {
  .caption_inner {
    padding: 30px;
  }
  .caption_inner h1 {
    font-size: 26px;
    margin: 0 0 12px;
  }
  .caption_inner p {
    line-height: 24px;
    margin: 0 0 30px;
  }
  .caption_inner a {
    padding: 12px 40px;
  }
}

/*=== 2. aboutArea ===*/
.aboutArea {
  padding: 25px 0 40px;
}

@media (max-width: 767px) {
  .aboutArea {
    padding: 30px 0 10px;
  }
}

.aboutArea, .aboutTitle, .aboutImage, .mainContent, .menuFooter {
  width: 100%;
  display: block;
}

.aboutArea {
  padding: 35px 0 40px 0;
  background: #001219;
}

.aboutTitle > h2 {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  margin: 0 0 25px;
}

@media (max-width: 767px) {
  .aboutTitle > h2 {
    font-size: 20px;
  }
}

.aboutImage {
  position: relative;
}

.aboutImage img {
  width: 100%;
}

.aboutImage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 44px;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  background: transparent;
  transition: background 0.3s;
}

@media (max-width: 479px) {
  .aboutImage .overlay {
    display: none;
  }
}

@media (min-width: 768px) {
  .aboutImage .overlay {
    text-align: left;
    padding: 10px;
    bottom: 30px;
  }
}

.aboutImage .overlay p {
  font-size: 14px;
  line-height: 23px;
  margin: 0;
  color: #001219;
  opacity: 0;
  -webkit-transform: translate(0, 30px);
  transform: translate(0, 30px);
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .aboutImage .overlay p {
    font-size: 14px;
    line-height: 23px;
  }
}

.aboutImage:hover .overlay {
  background: #ffffff;
  transition: background 0.3s;
}

.aboutImage:hover .overlay p {
  opacity: 1;
  transition-delay: 0.1s;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.captionLink, .captionLink:hover {
  width: 100%;
  height: 44px;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 44px;
  text-indent: 13px;
  background-color: #457b9d;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .captionLink, .captionLink:hover {
    font-size: 9px;
    text-indent: 10px;
    height: 30px;
    line-height: 30px;
  }
}

@media (min-width: 992px) {
  .captionLink, .captionLink:hover {
    font-size: 11px;
    text-indent: 10px;
    height: 36px;
    line-height: 36px;
  }
}

@media (min-width: 1200px) {
  .captionLink, .captionLink:hover {
    font-size: 14px;
    text-indent: 13px;
    height: 44px;
    line-height: 44px;
  }
}

@media (min-width: 1200px) {
  .captionLink > span {
    margin: 16px 10px 0 0;
  }
}

@media (max-width: 479px) {
  .about_inner .col-xs-6 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .about_inner .col-xs-6 {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .about_inner .col-sm-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 992px) {
  .about_inner .col-sm-3 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*=== 3. video ===*/
.mainContent {
  padding: 47px 0 65px 0;
  background-color: #ffffff;
  float: left;
}

@media (max-width: 767px) {
  .mainContent {
    padding: 30px 0;
    margin: 0 0 20px;
  }
}

.videoArea {
  margin-bottom: 27px;
  padding-bottom: 110px;
  border-bottom: 1px solid #1D3557;
}

.videoArea > h3 {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.videoLeft {
  position: relative;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .videoLeft {
    margin-bottom: 0;
  }
}

.videoLeft img {
  cursor: pointer;
  width: 100%;
}

.videoLeft iframe {
  width: 100%;
}

.videoButton {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  text-align: center;
  cursor: pointer;
  margin-top: -39px;
}

.videoRight > p {
  margin: 0 0 15px 0;
}

.btn.learnBtn {
  padding: 0;
  height: 42px;
  border: 1px solid #1D3557;
  background: #E63946;
  border-radius: 0;
  line-height: 42px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 767px) {
  .btn.learnBtn {
    padding: 0 20px;
    width: auto;
    display: inline-block;
  }
}

.videoNine .single_post.related_post_sec ul li {
  border-bottom: none;
}

.videoNine .single_post.related_post_sec ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .videoNine .single_post.related_post_sec ul li:last-child {
    padding: 0 0 25px;
    margin: 0 0 22px;
  }
}

.resultPart h4 {
  color: #0d0d0d;
  margin-bottom: 13px;
  font-size: 15px;
}

@media (max-width: 479px) {
  .resultPart h4 {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .resultPart h4 {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .resultPart h4 {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .resultPart h4 {
    font-size: 18px;
  }
}

.videoNine {
  padding-right: 30px;
}

@media (max-width: 767px) {
  .videoNine {
    padding-right: 0;
    border-right: none;
  }
}

@media (max-width: 479px) {
  .resultPart .col-sm-4 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .resultPart .col-sm-4 {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .resultPart .col-sm-4:first-child {
    padding-right: 5px;
  }
  .resultPart .col-sm-4:nth-child(2n) {
    padding: 0 10px;
  }
  .resultPart .col-sm-4:last-child {
    padding-left: 5px;
  }
}

@media (min-width: 1200px) {
  .resultPart .col-sm-4:first-child, .resultPart .col-sm-4:nth-child(2n),
  .resultPart .col-sm-4:last-child {
    padding: 0 15px;
  }
}

/*=== course finder ===*/
.formArea .form-group {
  margin: 0 0 20px;
}

.sbHolder, .sbSelector, .sbSelector:hover, .sbOptions a {
  font-weight: 400;
}

.formArea.admission {
  padding: 0;
  border: none;
  margin: 0;
}

.formArea.admission h3 {
  text-transform: uppercase;
  margin: 0 0 20px;
}

.formArea, .getArea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #1D3557;
  padding: 15px 12px 25px;
  border-top: 3px solid #E63946;
}

.formArea .form-group {
  margin: 0 0 20px;
}

/*== 5. what is csm? ==*/
#csm {
  background:linear-gradient(to top, #ffffff 0%, #FBFBFF 100%);
  background-clip: padding-box;
  
}

/*== 6. counter up ==*/
.counter_box {
  padding-top: 28px;
  padding-bottom: 28px;
}
}
.counter_text {
  margin-top: 18px;
  margin-bottom: 18px; 
}

.main_counter_area{       
  margin-top: 30px;  
  background-size: cover;
  overflow: hidden;
  border-top: 1px solid #001219;
  border-bottom: 1px solid #001219;

}

.main_counter_area .main_counter_content .single_counter{
  text-transform: uppercase;
  font-weight: 700;
  color: #E63946;
}
.main_counter_area .main_counter_content .single_counter i{
  font-size:36px;
}

.selectBox {
  margin-bottom: 20px;
  width: 100%;
}

/*== csm ==*/
.csm {
  padding: 20px;
  margin: 1px;
}