/*=== carousel ===*/
.banner {
  position: relative;
  background: #222c34;
}

.banner .slides {
  position: relative;
  z-index: 99;
}

.banner .slides li {
  position: relative;
}

.flex-direction-nav {
  width: 100%;
  float: left;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0;
}

.flex-direction-nav a {
  position: absolute;
  height: 100%;
  text-indent: -9999px;
  width: 36px;
  z-index: 9999;
  height: 48px;
  margin-top: -24px;
  top: 50%;
  text-indent: -9999px;
  z-index: 9999;
}

.banner .flex-direction-nav a.flex-prev {
  background: transparent url("../img/home/slider/prev.png") no-repeat scroll left center;
  left: 0;
  position: absolute;
}

.banner .flex-direction-nav a.flex-next {
  position: absolute;
  background: url(../img/home/slider/next.png) no-repeat left center;
  right: 0;
}

.banner_caption {
  width: 100%;
  float: left;
  height: auto;
  position: absolute;
  opacity: 0;
  z-index: 9999;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 767px) {
  .banner_caption {
    display: none;
  }
}

@media (min-width: 768px) {
  .banner_caption {
    padding: 35px;
    bottom: 13px;
  }
}

@media (min-width: 992px) {
  .banner_caption {
    padding-left: 30px;
    bottom: 12px;
  }
}

.item.active .banner_caption {
  opacity: 1;
}

#recommended-item-carousel .recommended-item-control {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  z-index: 999;
}

#recommended-item-carousel:hover .recommended-item-control {
  display: block;
}

#recommended-item-carousel .recommended-item-control.left {
  left: 0;
}

#recommended-item-carousel .recommended-item-control.right {
  right: 0;
}

.caption_inner {
  width: 595px;
  padding: 25px;
  background: rgba(0, 0, 0, 0.74);
  position: relative;
  z-index: 9999;
}

.caption_inner h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.caption_inner p {
  color: #fff;
}

.caption_inner a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: #fff !important;
  background: #49c32c;
  cursor: pointer;
}

@media (min-width: 768px) {
  .caption_inner {
    padding: 20px;
  }
  .caption_inner h1 {
    font-size: 20px;
    margin: 0 0 10px;
  }
  .caption_inner p {
    line-height: 21px;
    margin: 0 0 15px;
  }
  .caption_inner a {
    padding: 8px 25px;
  }
}

@media (min-width: 992px) {
  .caption_inner {
    padding: 30px;
  }
  .caption_inner h1 {
    font-size: 26px;
    margin: 0 0 12px;
  }
  .caption_inner p {
    line-height: 24px;
    margin: 0 0 30px;
  }
  .caption_inner a {
    padding: 12px 40px;
  }
}

/*=== about our courses ===*/
.aboutArea {
  padding: 25px 0 40px;
}

@media (max-width: 767px) {
  .aboutArea {
    padding: 30px 0 10px;
  }
}

.aboutArea, .aboutTitle, .aboutImage, .mainContent, .menuFooter, .footer {
  width: 100%;
  display: block;
}

.aboutArea, .footer {
  padding: 35px 0 40px 0;
  background: #222c34;
  background: linear-gradient(to right, #222c34 0%, #2a3a46 100%);
}

.aboutTitle > h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 25px;
}

@media (max-width: 767px) {
  .aboutTitle > h2 {
    font-size: 20px;
  }
}

.aboutImage {
  position: relative;
}

.aboutImage img {
  width: 100%;
}

.aboutImage .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 44px;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  background: transparent;
  transition: background 0.3s;
}

@media (max-width: 479px) {
  .aboutImage .overlay {
    display: none;
  }
}

@media (min-width: 768px) {
  .aboutImage .overlay {
    text-align: left;
    padding: 10px;
    bottom: 30px;
  }
}

.aboutImage .overlay p {
  font-size: 14px;
  line-height: 23px;
  margin: 0;
  color: #ffffff;
  opacity: 0;
  -webkit-transform: translate(0, 30px);
  transform: translate(0, 30px);
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .aboutImage .overlay p {
    font-size: 14px;
    line-height: 23px;
  }
}

.aboutImage:hover .overlay {
  background: rgba(0, 0, 0, 0.45);
  transition: background 0.3s;
}

.aboutImage:hover .overlay p {
  opacity: 1;
  transition-delay: 0.1s;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.captionLink, .captionLink:hover {
  width: 100%;
  height: 44px;
  display: block;
  color: #fff;
  text-transform: uppercase;
  line-height: 44px;
  text-indent: 13px;
  background-color: #0060b1;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

@media (min-width: 768px) {
  .captionLink, .captionLink:hover {
    font-size: 9px;
    text-indent: 10px;
    height: 30px;
    line-height: 30px;
  }
}

@media (min-width: 992px) {
  .captionLink, .captionLink:hover {
    font-size: 11px;
    text-indent: 10px;
    height: 36px;
    line-height: 36px;
  }
}

@media (min-width: 1200px) {
  .captionLink, .captionLink:hover {
    font-size: 14px;
    text-indent: 13px;
    height: 44px;
    line-height: 44px;
  }
}

@media (min-width: 1200px) {
  .captionLink > span {
    margin: 16px 10px 0 0;
  }
}

@media (max-width: 479px) {
  .about_inner .col-xs-6 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .about_inner .col-xs-6 {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .about_inner .col-sm-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 992px) {
  .about_inner .col-sm-3 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*=== Video ===*/
.mainContent {
  padding: 47px 0 65px 0;
  background-color: #fff;
  float: left;
}

@media (max-width: 767px) {
  .mainContent {
    padding: 30px 0;
    margin: 0 0 20px;
  }
}

.videoArea {
  margin-bottom: 27px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dce4ea;
}

.videoArea > h3 {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.videoLeft {
  position: relative;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .videoLeft {
    margin-bottom: 0;
  }
}

.videoLeft img {
  cursor: pointer;
  width: 100%;
}

.videoLeft iframe {
  width: 100%;
}

.videoButton {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  text-align: center;
  cursor: pointer;
  margin-top: -39px;
}

.videoRight > p {
  margin: 0 0 15px 0;
}

.btn.learnBtn {
  padding: 0;
  height: 42px;
  border: 1px solid #0060b1;
  background: #0060b1;
  border-radius: 0;
  line-height: 42px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 767px) {
  .btn.learnBtn {
    padding: 0 20px;
    width: auto;
    display: inline-block;
  }
}

.videoNine .single_post.related_post_sec ul li {
  border-bottom: none;
}

.videoNine .single_post.related_post_sec ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .videoNine .single_post.related_post_sec ul li:last-child {
    padding: 0 0 25px;
    margin: 0 0 22px;
  }
}

.resultPart h4 {
  color: #000;
  margin-bottom: 13px;
  font-size: 15px;
}

@media (max-width: 479px) {
  .resultPart h4 {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .resultPart h4 {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .resultPart h4 {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .resultPart h4 {
    font-size: 18px;
  }
}

.videoNine {
  padding-right: 30px;
  border-right: 1px solid #dce4ea;
}

@media (max-width: 767px) {
  .videoNine {
    padding-right: 0;
    border-right: none;
  }
}

@media (max-width: 479px) {
  .resultPart .col-sm-4 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .resultPart .col-sm-4 {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .resultPart .col-sm-4:first-child {
    padding-right: 5px;
  }
  .resultPart .col-sm-4:nth-child(2n) {
    padding: 0 10px;
  }
  .resultPart .col-sm-4:last-child {
    padding-left: 5px;
  }
}

@media (min-width: 1200px) {
  .resultPart .col-sm-4:first-child, .resultPart .col-sm-4:nth-child(2n),
  .resultPart .col-sm-4:last-child {
    padding: 0 15px;
  }
}

/*=== Course Finder ===*/
.formArea .form-group {
  margin: 0 0 20px;
}

.sbHolder, .sbSelector, .sbSelector:hover, .sbOptions a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.formArea, .getArea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #DCE4EA;
  padding: 15px 12px 25px;
  border-top: 3px solid #49c32c;
}
.formArea.admission {
  padding: 0;
  border: none;
  margin: 0;
}

.formArea.admission h3 {
  text-transform: uppercase;
  margin: 0 0 20px;
}

.formArea, .getArea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #DCE4EA;
  padding: 15px 12px 25px;
  border-top: 3px solid #49c32c;
}

.formArea .form-group {
  margin: 0 0 20px;
}

/*====================================== 2. about =======================================*/
/*=== 2.1 content_top ===*/
.content_top {
  padding: 30px 0 80px;
  background: #fff;
}

.content_top h1 {
  margin: 0 0 15px;
}

.content_top p {
  margin: 0 0 25px;
}

.content_left ul {
  margin: 0;
  list-style-type: none;
}

.content_right {
  margin-top: 50px;
}

@media (max-width: 767px) {
  .content_right {
    margin: 20px 0 0;
  }
}

.content_right .banner {
  display: block;
  width: 100%;
}

@media (max-width: 767px) {
  .content_right .banner .slides img {
    width: 100%;
  }
}

.about_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  padding: 15px 10px;
}

.about_caption h2 {
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  font-weight: 700;
}

@media (max-width: 479px) {
  .about_caption h2 {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .about_caption h2 {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .about_caption h2 {
    font-size: 25px;
  }
}

.flex-control-paging {
  position: absolute;
  bottom: 70px;
  text-align: center;
  width: 100%;
  float: left;
  margin: 0;
  z-index: 999;
  list-style-type: none;
}

.flex-control-paging li {
  display: inline-block;
  margin: 0 2px;
}

.flex-control-paging li a {
  display: block;
  text-indent: -99999px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.flex-control-paging li a.flex-active {
  background: #0060b1;
}

#about_banner .flex-direction-nav a {
  width: 30px;
  height: 76px;
}

#about_banner .flex-direction-nav a.flex-prev {
  background: url(../img/about/prev.png) no-repeat left center;
}

#about_banner .flex-direction-nav a.flex-next {
  background: url(../img/about/next.png) no-repeat left center;
}



/*== counterbox ==*/
.p-y-2 {
  padding-top: 28px;
  padding-bottom: 28px;
}
.p-y-3 {
  padding-top: 45px;
  padding-bottom: 45px;
}
.m-b-1 {
  margin-bottom: 18px; 
}
.m-t-1 { 
  margin-top: 18px;
}

.main_counter_area{         
  background-size: cover;
  overflow: hidden;

}

.main_counter_area .main_counter_content .single_counter{
  background: #222c34;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  border-top: 3px solid #84e06f;
}
.main_counter_area .main_counter_content .single_counter i{
  font-size:36px;
}

.selectBox {
  margin-bottom: 20px;
  width: 100%;
}


/*=== about page ===*/
.content_left .content_right ul {
  margin: 0;
  list-style-type: none;
}

.features {
  padding-left: 30px;
}

@media (max-width: 767px) {
  .features {
    padding-left: 0;
    margin-top: 25px;
  }
}

.features h3 {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.features ul li {
  width: 100%;
  line-height: 27px;
  margin: 0 0 15px;
  font-weight: 600;
  font-style: italic;
  color: rgba(0, 0, 0, 0.8);
  transition: color 0.3s;
  position: relative;
  padding-left: 35px;
  list-style-type: none;
}

.features ul li:hover {
  color: black;
  transition: color 0.3s;
}

.features ul li:hover i {
  color: #49c32c;
  transition: color 0.3s;
}

.features ul li i {
  font-size: 28px;
  text-align: right;
  margin-right: 10px;
  color: #c5c5c5;
  transition: color 0.3s;
  font: normal normal normal 28px/1 FontAwesome;
  position: absolute;
  left: 0;
  top: 1px;
}

.navbar-brand.logo {
  width: 170px;
}

/*== about-testimonials ==*/

.card{
  border:none;
}

.user-content p{
  margin-top:5px;
  font-size:12px;
}

.ratings i{
  color:blue;
}

/*=== blog ===*/
/*========================================== 3. Blog =================================*/
.post_section {
  padding: 35px 0 35px;
}

.post_left_border {
  padding-right: 30px;
  border-right: 1px solid #dce4ea;
}

@media (max-width: 767px) {
  .post_left_border {
    padding-right: 0;
    border-right: none;
  }
}

.post_right_border {
  padding-left: 30px;
  border-left: 1px solid #dce4ea;
}

@media (max-width: 767px) {
  .post_right_border {
    padding-left: 0;
    border-left: none;
  }
}

.post {
  float: left;
  margin: 0 0 30px;
  border-bottom: 1px solid #dce4ea;
}

.post_thumb {
  margin: 0 0 13px;
}

.post_thumb > img {
  width: 100%;
}

.meta {
  padding: 0 0 6px 0;
  border-bottom: 1px solid #dce4ea;
  margin: 0 0 25px;
}

.meta span {
  font-weight: 400;
  font-style: italic;
  line-height: 20px;
  display: inline-block;
  padding-right: 20px;
  margin-right: 10px;
  border-right: 1px solid #dce4ea;
}

.meta span a {
  color: #49c32c;
  text-decoration: none;
  font-weight: 400;
}

.meta span.date {
  border: none;
  padding: 0;
  margin: 0;
}

.list_block .upcoming_events .meta {
  padding: 0;
  border-bottom: none;
  margin: 0;
}

.post h1 {
  font-weight: normal;
  color: #282428;
  margin: 0 0 15px;
  clear: both;
  margin: 0 0 20px;
  font-size: 25px;
}

@media (min-width: 1200px) {
  .post h1 {
    margin: 0 0 30px;
    font-size: 30px;
  }
}

.post h1 a {
  color: #282428;
  font-size: inherit;
}

.post_desc {
  margin: 0 0 20px;
}

.post_bottom {
  margin: 0 0 35px;
  float: left;
}

.post_section .post_bottom > ul {
  width: 100%;
}

.post_section .post_bottom > ul > li {
  margin: 0;
  margin-right: 25px;
  padding: 0;
  display: inline-block;
  width: auto;
  border: none;
  clear: none;
}

.post_section .post_bottom > ul > li:last-child {
  border: none;
}

.post_section .post_bottom > ul > li a {
  position: relative;
  text-decoration: none;
  width: 59px;
  height: 39px;
  background: #f2f2f2;
  border-radius: 20px;
  display: block;
  text-align: center;
}

.post_section .post_bottom > ul > li a span {
  font-weight: 600;
  font-size: 10px;
  color: #fff;
  line-height: 18px;
  background: #49c32c;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  width: 24px;
  text-align: center;
  display: block;
  right: -6px;
}

.post_section .post_bottom > ul > li img {
  margin-top: 12px;
}

.pagination_section li {
  display: inline-block;
}

.pagination_section li a {
  font-weight: 400;
  color: #000;
  line-height: 34px;
  padding: 0 20px;
  background: #f2f2f2;
  border-radius: 15px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.list_block {
  border: 1px solid #dce4ea;
  padding: 15px 12px 25px;
  border-top: 3px solid #49c32c;
  margin: 0 0 20px;
}

.related_post_sec h3 {
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 1px solid #dce4ea;
  margin: 0 0 18px;
  font-size: 22px;
}

@media (min-width: 768px) {
  .related_post_sec h3 {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .related_post_sec h3 {
    font-size: 22px;
  }
}

.related_post_sec ul li {
  padding: 0 0 6px;
  margin: 0 0 18px;
  border-bottom: 1px solid #dce4ea;
  display: block;
  clear: both;
  width: 100%;
  float: left;
}

@media (max-width: 767px) and (max-height: 450px) {
  .related_post_sec ul li {
    padding: 0 0 24px;
  }
}

.related_post_sec ul li:last-child {
  border: none;
}

.rel_thumb {
  width: auto;
  float: left;
  height: auto;
  margin: 5px 10px 0 0;
}

.rel_right h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.rel_right span.date {
  font-weight: 400;
  font-style: italic;
  font-weight: normal;
  line-height: 20px;
}

.rel_right span.date a {
  text-decoration: none;
  color: #49c32c;
  font-weight: 400;
}

.related_post_sec a.more_post {
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 44px;
  border: 1px solid #0060b1;
  text-align: center;
  color: #000;
  display: block;
  clear: both;
}

.formTitle.news h3.extraPadding {
  padding-bottom: 0;
  border: none;
}

.newsletter h3 {
  border: none;
  padding: 0;
  margin: 0 0 20px;
}

.form-control {
  height: 42px;
  border-color: #dcdfe3;
}

.form-control:focus {
  border-color: #49c32c;
  box-shadow: none;
}

.commonBtn {
  padding: 0;
  background-color: #49c32c;
  text-transform: uppercase;
  color: #fff;
  border-color: #49c32c;
  height: 42px;
  line-height: 42px;
  font-weight: 700;
}

.commonBtn:hover, .commonBtn:focus {
  background-color: #49c32c;
  color: #fff;
}

.formTitle h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.formTitle p {
  margin-bottom: 25px;
}

.selectBox {
  margin-bottom: 20px;
  width: 100%;
}

.formArea .form-group {
  margin: 0 0 20px;
}

.sbHolder, .sbSelector, .sbSelector:hover, .sbOptions a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.formArea, .getArea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #DCE4EA;
  padding: 15px 12px 25px;
  border-top: 3px solid #49c32c;
}

.getArea {
  margin-bottom: 0;
}

h3.extraPadding {
  padding-right: 25px;
  margin-bottom: 18px;
}

.getImage {
  width: 100%;
  border: 1px solid #dce4ea;
  margin-bottom: 20px;
  text-align: center;
}

.getImage img {
  display: block;
  width: 100%;
}

@media (max-width: 767px) {
  .post_right {
    margin: 30px 0 0;
  }
}

p.reduceMargin {
  margin-bottom: 17px;
}