{% extends "base.html" %}

{% block app_content %}

<!-- count section -->
  <div class="count_section clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="count_title">
            <h1>What we have</h1>
          </div><!--end count inner-->
        </div>
      </div><!--end row-->
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="count_inner">
            <h1>18298</h1>
            <h3>Undergraduate <br/> Students</h3>
          </div><!--end count inner-->
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="count_inner postgraduate">
            <h1>24583</h1>
            <h3>Postgraduate <br/> Students</h3>
          </div><!--end count inner-->
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="count_inner res">
            <h1>37904</h1>
            <h3>Research <br/> Students</h3>
          </div><!--end count inner-->
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="count_inner stuff">
            <h1>892</h1>
            <h3>Teacher and <br/> Stuff Members</h3>
          </div><!--end count inner-->
        </div>
      </div><!--end row-->
    </div><!--end container-->
  </div><!--end section-->

{% endblock}