{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{url_for('static', filename='css/blog.css')}}" rel="stylesheet">
{% endblock %}

{% block app_content %}

<!-- row 1 -->
  <div class="blog-area">
    <div class="row">

      <div class="col-sm-9">
          <h3><span class="heading">MAIN Heading </span></h3>
          <article class="blog-item"><img class="pull-left img-responsive" src="post1.jpg" />
              <div class="text">
                  <h3><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit. Donec odio. </a></h3>
                  <p>Lorem ipsum dolor sit amet </p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Nullam malesuada erat ut turpis.Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. </p>
                  <h4><a href="#">Learn more... </a></h4>
              </div>
              <div class="clearfix"></div>
          </article>
          <article class="blog-item"><img class="pull-left img-responsive" src="post2.jpg" />
              <div class="text">
                  <h3><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit. Donec odio. </a></h3>
                  <p>Lorem ipsum dolor sit amet </p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Nullam malesuada erat ut turpis.Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. </p>
                  <h4><a href="#">Learn more... </a></h4>
              </div>
              <div class="clearfix"></div>
          </article>
          <article class="blog-item"><img class="pull-left img-responsive" src="post3.jpg" />
              <div class="text">
                  <h3><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit. Donec odio. </a></h3>
                  <p>Lorem ipsum dolor sit amet </p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Nullam malesuada erat ut turpis.Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. </p>
                  <h4><a href="#">Learn more... </a></h4>
              </div>
              <div class="clearfix"></div>
          </article>
      </div>
      <div class="col-sm-3">
          <h3><span class="heading">Subheading </span></h3>
          <div class="blog-item small-blog-item"><img class="img-responsive" src="small_post1.jpg" />
              <h4><a href="#">Donec odio. Quisque volutpat mattis eros. </a></h4>
              <p>Lorem ipsum dolor sit amet </p>
          </div>
          <div class="blog-item small-blog-item"><img class="img-responsive" src="small_post2.jpg" />
              <h4><a href="#">Donec odio. Quisque volutpat mattis eros. </a></h4>
              <p>Lorem ipsum dolor sit amet </p>
          </div>
          <div class="blog-item small-blog-item"><img class="img-responsive" src="small_post3.jpg" />
              <h4><a href="#">Donec odio. Quisque volutpat mattis eros. </a></h4>
              <p>Lorem ipsum dolor sit amet </p>
          </div>
          <div class="blog-item small-blog-item"><img class="img-responsive" src="small_post1.jpg" />
              <h4><a href="#">Donec odio. Quisque volutpat mattis eros. </a></h4>
              <p>Lorem ipsum dolor sit amet </p>
          </div><a class="btn btn-default btn-block btn-lg" href="#">Load more ...</a>
      </div>

    </div><!--end row-->
  </div><!--end container-->

{% endblock %}