{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet">

{% endblock %}

{% block app_content %}

<!-- carousel -->
  <div class="carousel slide" id="carousel" data-ride="carousel">
    <div class="slides carousel-inner">
      <div class="item active">
        <img src="{{url_for('static', filename='home/slider/slider_image_1.jpg')}}" alt="" />
        <div class="carousel_caption">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="caption_inner animated fadeInUp">
                  <h1>Welcome To Scrum Jet</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.</p>
                  <!-- insert_about_page_here -->                  
                  <a href="about.html">Learn More</a>
                </div><!--end caption_inner-->
              </div>
            </div><!--end row-->
          </div><!--end container-->
        </div><!--end carousel_caption-->
      </div>
      <div class="item">
        <img src="{{url_for('static', filename='home/slider/slider_image_2.jpg')}}" alt="" />
        <div class="carousel_caption">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="caption_inner animated fadeInUp">
                  <h1>Admission going on</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.</p>
                  <!-- insert_apply_page_here -->                     
                  <a href="apply.html">Apply Now</a>
                </div><!--end caption_inner-->
              </div>
            </div><!--end row-->
          </div><!--end container-->
        </div><!--end carousel_caption-->
      </div>
      <div class="item">
        <img src="{{url_for('static', filename='home/slider/slider_image_3.jpg')}}" alt="" />
        <div class="carousel_caption">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="caption_inner animated fadeInUp">
                  <h1>Arrange a tour to our college</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.</p>
                  <!-- insert_contact_page_here -->                     
                  <a href="contact-us.html">Contact Us</a>
                </div><!--end caption_inner-->
              </div>
            </div><!--end row-->
          </div><!--end container-->
        </div><!--end carousel_caption-->
      </div>
      <div class="item">
        <img src="{{url_for('static', filename='home/slider/slider_image_4.jpg')}}" alt="" />
        <div class="carousel_caption">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="caption_inner animated fadeInUp">
                  <h1>Find your dream course</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur nte volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.</p>
                  <!-- insert_courses_page_here -->                    
                  <a href="courses.html">Find Course</a>
                </div><!--end caption_inner-->
              </div>
            </div><!--end row-->
          </div><!--end container-->
        </div><!--end carousel_caption-->
      </div>
    </div>
    <a class="left control" href="#carousel" data-slide="prev">
      <img src="{{url_for('static', filename='home/slider/prev.png')}}">
      </a>
    <a class="right control" href="#carousel" data-slide="next">
      <img src="{{url_for('static', filename='home/slider/next.png')}}">
    </a>
  </div><!--end banner-->

<!-- about -->
  <div class="aboutArea">
    <div class="container">
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="aboutTitle">
            <h2>Our Popular Courses</h2>
          </div><!-- aboutTitle -->
        </div><!-- col-sm-12 -->
      </div><!-- row clearfix -->
        <div class="about_inner clearfix">
        <div class="row">
          <div class="col-sm-3">
            <div class="aboutImage">
              <a href="single-course-right-sidebar.html">
                <img src="{{url_for('static', filename='home/learn/learn_1.jpg')}}" alt="" class="img-responsive" />
                <div class="overlay">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur nte volutpat sem aliquam lobortis.</p>
                </div>
                <span class="captionLink">Scrum Fundamentals<span></span></span>
              </a>
            </div><!-- aboutImage -->
          </div>
            <div class="col-sm-3">
            <div class="aboutImage">
              <!-- insert_course_page_here -->
              <a href="course1.html">
                <img src="{{url_for('static', filename='home/learn/learn_2.jpg')}}" alt="" class="img-responsive" />
                <div class="overlay">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur nte volutpat sem aliquam lobortis.</p>
                </div>
                <span class="captionLink">Agile Methodology<span></span></span>
              </a>
            </div><!-- aboutImage -->
          </div>
            <div class="col-sm-3">
            <div class="aboutImage">
            <!-- insert_course_page_here -->
              <a href="course2.html">
                <img src="{{url_for('static', filename='home/learn/learn_3.jpg')}}" alt="" class="img-responsive" />
                <div class="overlay">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur nte volutpat sem aliquam lobortis.</p>
                </div>
                <span class="captionLink">Project Management<span></span></span>
              </a>
            </div><!-- aboutImage -->
          </div>
            <div class="col-sm-3">
            <div class="aboutImage">
              <!-- insert_course_page_here -->
              <a href="course3.html">
                <img src="{{url_for('static', filename='home/learn/learn_4.jpg')}}" alt="" class="img-responsive" />
                <div class="overlay">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur nte volutpat sem aliquam lobortis.</p>
                </div>
                <span class="captionLink">Iterative Development<span></span></span>
              </a>
            </div><!-- aboutImage -->
          </div>
        </div><!-- row -->
      </div><!-- about_inner -->
      </div><!-- container -->
  </div><!-- aboutArea -->

<!-- main content -->
  <div class="mainContent clearfix">

  <!-- row 1 -->
    <div class="container">
      <div class="row clearfix">

        <!-- video container -->
          <div class="col-sm-8 col-xs-12">
            <div class="videoNine clearfix">

              <div class="videoArea clearfix">
                <h3>Welcome To Scrum Jet</h3>
                <div class="row">
                  <div class="col-lg-8 col-md-7 col-xs-12 videoLeft">
                  <img src="{{url_for('static', filename='home/video/video_image.jpg')}}" data-video="https://www.youtube.com/">
                  </div><!-- videoLeft -->
                  <div class="col-lg-4 col-md-5 col-xs-12 videoRight">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.</p>
                  <a href="about.html" class="btn btn-block learnBtn">Learn More</a>
                  </div><!-- videoRight -->
                </div><!-- row -->
              </div><!-- videoArea -->
            </div>
          </div>

        <!-- course finder form -->
          <div class="col-sm-4 col-xs-12">
            <div class="formArea clearfix">
              <div class="formTitle">
                <h3>Find a Course</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consectetur ante volutpat sem aliquam lobortis. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus. Mauris porta fermentum volutpat. Praesent est sapien, tincidunt vel arcu vitae, mattis sollicitudin lectus.</p>
              </div><!-- formTitle -->
              <form action="#" method="post">
                <div class="selectBox clearfix">
                  <select name="guiest_id1" id="guiest_id1">
                    <option value="0">Location</option>
                    <option value="1">Location_1</option>
                    <option value="2">Location_2</option>
                    <option value="3">Location_3</option>
                  </select>
                </div><!-- selectBox -->
                <div class="selectBox clearfix">
                  <select name="guiest_id2" id="guiest_id2">
                    <option value="0">Level</option>
                    <option value="1">Level_1</option>
                    <option value="2">Level_2</option>
                    <option value="3">Level_3</option>
                  </select>
                </div><!-- selectBox -->
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Course Name">
                </div>
                <button type="submit" class="btn btn-default btn-block commonBtn">Search</button>
              </form>
            </div><!-- formArea --> 
          </div><!-- col-sm-4 col-xs-12 -->
      </div><!-- row-->
    </div><!-- container-->

  <!-- row 2 -->
    <div id="csm">
      <div class="container">
          <div class="row">
            <div class="col-sm-5">
                <h1>The Basics of Scrum</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis mauris accumsan, aliquet dui vel, rutrum dolor. Nunc vitae auctor metus. Quisque posuere nibh ut sem tincidunt, quis feugiat elit lobortis. Sed ut fringilla purus. Suspendisse volutpat ex non sem vehicula venenatis ut sed purus. Nunc eget fermentum metus, non consectetur velit. Donec semper leo a tellus posuere mollis. Duis a eleifend metus. Sed viverra enim sit amet mattis viverra. Ut euismod viverra lectus id aliquam. Cras eget odio mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec ipsum nulla, vestibulum id diam eu, malesuada malesuada ex. Vestibulum et volutpat mauris. Donec sagittis sem vitae lacinia pellentesque. Ut mattis viverra aliquam. </p>
            </div>
            <div class="col-sm-7 img-responsive"><img src="{{url_for('static', filename='home/scrum.png')}}" alt="scrum cycle" style="padding-left: 10px; padding-top:30px; padding-bottom: 30px; width: 100%;"/></div>
          </div>
      </div>
    </div>

  <!-- row 3 -->

  
  <!-- row 4 -->
  <div class="container">
    <div class="row clearfix">
      <!-- counter -->
        <section id="counter" class="counter">
          <div class="main_counter_area">
              <div class="overlay counter_box">
                  <div class="container">
                      <div class="row">
                          <div class="main_counter_content text-center white-text wow fadeInUp">
                              <div class="col-md-3">
                                  <div class="single_counter counter_box counter_text">
                                      <i class="glyphicon glyphicon-education counter_text"></i>
                                      <h2 class="statistic-counter">30</h2>
                                      <span></span>
                                      <p>Academics</p>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="single_counter counter_box counter_text">
                                      <i class="glyphicon glyphicon-ok counter_text"></i>
                                      <h2 class="statistic-counter">1000</h2>
                                      <p>Satisfied Students</p>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="single_counter counter_box counter_text">
                                      <i class="glyphicon glyphicon-user counter_text"></i>
                                      <h2 class="statistic-counter">500</h2>
                                      <p>Currently Enrolled</p>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="single_counter counter_box counter_text">
                                      <i class=" glyphicon glyphicon-pencil counter_text"></i>
                                      <h2 class="statistic-counter">400</h2>
                                      <p>Resources</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section><!-- end counter -->
    </div><!-- row -->
  </div><!-- container -->

  <!-- row 5 -->
  <div class="container">
    <div class="row">

    </div>
  </div>

</div> <!-- end main content -->

{% endblock %}